<div class="footer">    
    <ul class="socials" id="socials">
        <li class="social-list_item">
            <a class="social-list_link" href="https://www.linkedin.com/in/m29992" aria-label="My Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="social-list_item">
            <a class="social-list_link" href="https://github.com/M29992" aria-label="My Github"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="social-list_item">
            <a class="social-list_link" href="https://app.pluralsight.com/profile/M29992" aria-label="My Pluralsight"><i class="fa-solid fa-circle-play"></i></a>
        </li>
        <li class="social-list_item">
            <a class="social-list_link" href="https://www.hackerrank.com/profile/M29992" aria-label="My Hackerrank"><i class="fa-brands fa-hackerrank"></i></a>
        </li>
    </ul>

<hr>
<p>© {{date}} Matthew Evans</p>
</div>