@import '../../../styles.scss';

.welcome-section{
    margin-left: 80px;
    background-color: #FFFFFF;
    /* Free SVG Backgrounds and Patterns by SVGBackgrounds.com*/
    background-image: url($primary-background-url);
    background-attachment: fixed;
    background-size: cover;
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, transparent);
    height: auto;
    padding-bottom: 30px;
    padding-top: 5px;
    gap: 20px;
    display: flex;
    align-items: stretch;
}

app-profile{
    flex: 0 0 300px;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
}

app-showcase {
    flex:1;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
}