@import '../../../styles.scss';

.welcome-section{
    margin-left: 80px;
    background-color: #FFFFFF;
    /* Free SVG Backgrounds and Patterns by SVGBackgrounds.com*/
    background-image: url($primary-background-url);
    background-attachment: fixed;
    background-size: cover;
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, transparent);
    height: auto;
    padding-bottom: 30px;
    padding-top: 5px;
    padding-right: 10px;
    gap: 20px;
    display: flex;
    align-items: stretch;
}

app-profile {
    flex: 0 0 300px;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
}

app-showcase {
    flex: 1;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
}

@media (max-width: 768px) {
    .welcome-section {
        flex-direction: column;
        margin-left: 0;
        padding: 10px;
    }

    app-profile {
        order: 1; 
        flex-basis: 100%;
    }

    app-showcase {
        order: 2;
        flex-basis: 100%;
    }
}
