<nav class="nav-rail">
  <ul class="nav-list">
    <li>
      <a href="#skills">
        <i class="fa-solid fa-gauge"></i>
        <span>Skills</span>
      </a>
    </li>
    <li>
      <a href="#projects">
        <i class="fa-solid fa-code"></i>
        <span>Projects</span>
      </a>
    </li>
    <li>
      <a href="#work">
        <i class="fa-solid fa-briefcase"></i>
        <span>Work</span>
      </a>
    </li>
    <li>
      <a href="#education">
        <i class="fa-solid fa-graduation-cap"></i>
        <span>Education</span>
      </a>
    </li>
    <li>
      <a href="#learning">
        <i class="fa-solid fa-book"></i>
        <span>Learning</span>
      </a>
    </li>
    <li>
      <a href="#socials">
        <i class="fa-solid fa-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>

  