@import '../../../../styles.scss';

.education {
    display: flex;
    height: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10PX;
    border: 1px solid #ccc;
  }

  .education:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .education-header {
    width: 150px;
    background-color: $card-color;
    color: $light-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .education-body {
    flex: 1; 
    position: relative;
    background-color: $light-card-color;
    color: $dark-text-color;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  
  .education-body ul {
    padding-left: 20px;
    margin: 0;
    overflow: auto;
  }
  
  .grade {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
padding: 10px;
    text-align: right;
    color: $secondary-background-color;
    font: 2em $font-primary;
  }

  h1 {
    font: 1.5em $font-primary;
    color: $light-text-color;
    margin: 0px;
  }

  h2 {
    font: 1.7em $font-primary;
    color: $dark-text-color;
    margin-bottom: 0px;
  }

  h3 {
    font: 1.3em $font-primary;
    color: $dark-text-color;
    margin-top: 0px;
  }