<div class="education-section" id="education">
    <div class="education" *ngFor="let anEducation of education; let i = index"
         [class.active]="i === currentSlideIndex"
         [class.slide-left]="i === currentSlideIndex && animationDirection === 'left'"
         [class.slide-right]="i === currentSlideIndex && animationDirection === 'right'">
      <app-education
        [educationStartDate]="anEducation.startDate"
        [educationGraduationDate]="anEducation.endDate"
        [educationLevel]="anEducation.level"
        [educationFieldOfStudy]="anEducation.fieldOfStudy"
        [educationInstitution]="anEducation.institution"
        [educationGrade]="anEducation.grade"
        [educationActivities]="anEducation.activities"
        [educationTechnologies]="anEducation.technologies">
      </app-education>
    </div> 

  
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  
    <div style="text-align:center">
      <span *ngFor="let anEducation of education; let i = index" class="dot" 
            [class.active]="i === currentSlideIndex" 
            (click)="currentSlide(i)"></span>
    </div>
  </div>
  