@import '../../../styles.scss';

.skills-section {
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .skills-section > div {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .skills-section {
      padding-left: 0;
    }
}